body{
    margin: 0;
    padding: 0;

    background-color: #ffdac3;
    font-family: sans-serif;
}

/* PANELS */
.infoPanel{
    margin: 8px;
}

.infoHeader {
    background-color: #f08a4b;
    padding: 1px;
    padding-left: 7px;
    border-radius: 15px;
}


.infoHeader > h1 {
    color: white;
}

/* ------------------------------ */

/* KEY VALUE PAIRS */
.pair{
    margin: 0px 5px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 4px;
    grid-template-columns: 150px auto;
    max-width: 500px;
}

.pair > p{
    margin: 0;
    padding: 0;
}
.pair > .key {
    display: inline-grid;
    font-weight: bold;
}

.pair > .value {
    display: inline-grid;
}

/* ------------------------------ */
