#frame {
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows: auto auto; 

}

#locationFrame{
    grid-column: 1;
    grid-row: 1;

}

#weatherFrame{
    grid-column: 2;
    grid-row: 1;
}

#countryList{
    grid-column: 1/3;
    grid-row: 2;
}